# octoprint-prometheus==1.1.0
https://github.com/halkeye/octoprint-prometheus/archive/expose-metrics-jpweber.zip
https://github.com/quanticchaos/OctoPrint-Webcamsb/archive/master.zip
https://github.com/BillyBlaze/OctoPrint-FullScreen/archive/master.zip
https://github.com/kanocz/octopi_eta_override/archive/master.zip
https://github.com/fabianonline/OctoPrint-Telegram/archive/stable.zip
https://github.com/FormerLurker/Octolapse/archive/v0.3.4.zip
https://github.com/bchanudet/OctoPrint-Octorant/archive/master.zip
